<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snimanje Zvuka</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>OFFLINE</h1>
  <div id="recordingIndicator"></div>
  <audio id="audioPlayer" controls></audio>
  <div class="button-container">
    <button id="startRecord"></button>
    <button id="stopRecord"></button>
    <button id="saveRecording"></button>
    <button id="deleteRecording"></button>
  </div>
  <input type="text" id="recordingName" placeholder="Enter recording name">
  <h3>Stored recordings in cloud storage:</h1>
  <div id="audioList" style="height: 400px; overflow-y: scroll;">
  </div>
  <script  type="module" src="app.js"></script>
</body>
</html>
